<%= link_to "Musicians Index", "/musicians" %>
<%= link_to "Orchestras Index", "/orchestras" %>

<h1>Orchestra Musicians Index</h1>

<%= link_to "Create Musician", "/orchestras/#{@orchestra.id}/musicians/new" %><br/>

<%= link_to "Sort By Name Alphabetically", "/orchestras/#{@orchestra.id}/musicians/alphabetize" %>

<% @musicians.each do |musician| %>
  <h2><%= musician.name %></h2>
  <p>Full Time: <%= musician.full_time %></p>
  <p>Years Involved: <%= musician.years_involved %></p>
  <%= link_to "Update #{musician.name}", "/musicians/#{musician.id}/edit"%>
<% end %>