<h1>Update Musician</h1>
<%= form_with url: "/musicians/#{@musician.id}", method: :patch, data: { turbo: false } do |form| %>
  <%= form.label :name, "Musician Name:" %><br/>
  <%= form.text_field :name, value: "#{@musician.name}" %><br/>
  <br><%= form.label :full_time, "Full Time:" %><br/>
  <%= form.select :full_time, ["true", "false"], value: "#{@musician.full_time}" %><br/>
  <br><%= form.label :years_involved, "Years Involved:" %><br/>
  <%= form.number_field :years_involved, value: "#{@musician.years_involved}" %><br/>
  <br><%= form.submit "Update Musician" %><br/>
<% end %>