<%= link_to "Musicians Index", "/musicians" %>
<%= link_to "Orchestras Index", "/orchestras" %>

<h1><%= @musician.name %></h1>

<p>Full Time: <%= @musician.full_time %></p>

<p>Years Involved: <%= @musician.years_involved %></p>

<%= link_to "Update Musician", "/musicians/#{@musician.id}/edit" %>

<%= link_to "Delete #{@musician.name}", "/musicians/#{@musician.id}", data: { turbo_method: :delete } %>