<h1>Update Orchestra</h1>
<%= form_with url: "/orchestras/#{@orchestra.id}", method: :patch, data: { turbo: false } do |form| %>
  <%= form.label :name, "Orchestra Name:" %><br/>
  <%= form.text_field :name, value: "#{@orchestra.name}" %><br/>
  <br><%= form.label :auditions_open, "Auditions Open:" %><br/>
  <%= form.select :auditions_open, ["true", "false"], value: "#{@orchestra.auditions_open}" %><br/>
  <br><%= form.label :year_established, "Year Established:" %><br/>
  <%= form.number_field :year_established, value: "#{@orchestra.year_established}" %><br/>
  <br><%= form.submit "Update Orchestra" %>
<% end %>