<%= link_to "Welcome Page", "/" %>
<%= link_to "Musicians Index", "/musicians" %>
<%= link_to "Orchestras Index", "/orchestras" %>

<h1><%= @orchestra.name %></h1>

<p>Auditions Open: <%= @orchestra.auditions_open %></p>

<p>Year Established: <%= @orchestra.year_established %></p>

<p>Number of Musicians: <%= @orchestra.count_musicians %></p>

<%= link_to "Orchestra's Musicians", "/orchestras/#{@orchestra.id}/musicians" %><br/>

<br><%= link_to "Update #{@orchestra.name}", "/orchestras/#{@orchestra.id}/edit" %><br/>

<br><%= button_to "Delete #{@orchestra.name}", "/orchestras/#{@orchestra.id}", method: :delete %><br/>