<%= link_to "Musicians Index", "/musicians" %>

<h1><%= @orchestra.name %></h1>

<p>Auditions Open: <%= @orchestra.auditions_open %></p>

<p>Year Established: <%= @orchestra.year_established %></p>

<p>Number of Musicians: <%= @orchestra.count_musicians %></p>